button, a {
  align-items: center;
  background-color: #69969c;
  border: none;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
            -9px -9px 16px rgba(221, 221, 232, 0.3);
  color: black;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  margin: 3px;
  padding: 5px;
  text-decoration: none;
}

.enterButton {
  background-color: #69969c;
  border-radius: 8px;
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 1em;
  padding: 0.5em;
}

.enterButton:active {
  color:#f56238;
}

.formContainer {
  background-color: #69969c;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
  -9px -9px 16px rgba(221, 221, 232, 0.3);
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}

main {
  align-items: center;
  background: rgb(63,94,99);
  background: linear-gradient(90deg, rgba(63,94,99,1) 0%, rgba(245,98,56,1) 19%, rgba(5,4,2,1) 100%);
  color: 000000;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 100vh;
}

h1 {
  align-items: center;
  background-color: #c9d1d5;
  border-bottom: black solid 1px;
  border-right: black solid 1px;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
  -9px -9px 16px rgba(221, 221, 232, 0.3);
  color: black;
  display: flex;
  font-size: 5em;
  height: 15vh;
  margin-bottom: 2%;
  padding: 3%;
  margin-top: 2%;
}

.homePage {
  background: rgb(63,94,99);
  background: linear-gradient(90deg, rgba(63,94,99,1) 0%, rgba(245,98,56,1) 19%, rgba(5,4,2,1) 100%);
  border-radius: 8px;
  border-bottom: black solid 1px;
  border-right: black solid 1px;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
  -9px -9px 16px rgba(221, 221, 232, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

input {
  color: #f56238;
  height: 4vh;
}

.selectionContainer {
  background-color: #c9d1d5;
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 1.5em;
  padding-bottom: 0;
  padding-top: 2em;
  width: 80vw;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
            -9px -9px 16px rgba(237, 237, 246, 0.3);
}


.resultsDisplay {
  align-items: center;
  background-color: #3f5e63;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
  -9px -9px 16px rgba(221, 221, 232, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0.5em;
  width: 80vw;
}

.welcome {
  background-color: #c9d1d5;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: 0.5em;
  margin-left: 0;
  width: 100%;
}

.welcomeAffirmations {
  background-color: #c9d1d5;
}

.welcomePage {
  align-items: center;
  background-color: #c9d1d5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 70vw;
}
.welcomeTitle {
  height: 20vh;
  background-color: #c9d1d5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 2em;
  margin: 3%;
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
}

@media screen and (min-width: 800px) {
  .formContainer {
    flex-direction: row;
  }
}