.resultsContainer {
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width: 80%;
}
.resultsList {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: yellow;
}

.rhymeWord {
  padding: 2%;
  margin: 2%;
  text-align: center;
}

.synonymWord {
  padding: 2%;
  margin: 2%;
  text-align: center;
}

.resultsHeading {
    color: blanchedalmond;
}
