

.resultsContainerRhymes {
  align-items: center;
  background-color: #3f5e63;
  box-shadow: 9px 9px 16px rgba(221, 221, 232, 0.3), 
  -9px -9px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  padding: 1em;
} 

.resultsContainerSynonyms {
  align-items: center;
  background-color: #3f5e63;
  box-shadow: 9px 9px 16px rgba(221, 221, 232, 0.3), 
  -9px -9px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.resultsList {
    align-items: center;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
}

.resultsListSynonyms, .resultsListRhymes {
  align-items: center;
  background-color: #69969c;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
  -9px -9px 16px rgba(221, 221, 232, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 100%;
}
.singleWord {
  border-radius: 8px;
  padding: 3%;
  margin: 5%;
  text-align: center;
  background-color: #c9d1d5;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
  -9px -9px 16px rgba(221, 221, 232, 0.3);
  border-radius: 8px;
  width: 80%;
}

.resultsHeadingSynonyms, .resultsHeadingRhymes {
  background-color: #3f5e63;
  color: black;
}
