.resultsContainer {
    display: flex;
    flex-direction: column;
    color: white;
}
.resultsList {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: yellow;
}

.resultWord {
    display:flex;
}

.rhymeHeading {
    color: blanchedalmond;
}

.synonymHeading {
    color: pink;
}