.buttonRhymes {
  margin: 0.2em;
}

.buttonThesaurus {
  margin: 0.2em;
}

.searchBar {
  margin: 0.5em;
  padding: 0.5em;
}

.searchButtonContainer {
  display: flex;
  flex-direction: row;
}

.searchForm {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  padding: 2vh;
}
