.favoritesButton, .promptPageButton {
    border: none;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
    -9px -9px 16px rgba(221, 221, 232, 0.3);
}
.favoritesButton:active {
    box-shadow: none;
}

.favPromptButton:active {
    box-shadow: none;
}

.hidden {
    visibility: none;
}
.promptPageButton:active {
    box-shadow: none;
}

.prompt {
    background-color: #a80500;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-radius: 50%;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
    -9px -9px 16px rgba(221, 221, 232, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 15vw;
    justify-content: center;
}

.prompt:active {
    box-shadow: none;
    border: none;
}

.prompt:hover {
    cursor:pointer;
}

.promptContainer {
    background-color: #69969c;
    background: rgb(63,94,99);
    background: linear-gradient(90deg, rgba(63,94,99,1) 0%, rgba(245,98,56,1) 19%, rgba(5,4,2,1) 100%);
    box-shadow: 8px 8px 16px rgba(199, 199, 216, 0.3), 
    -8px -8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
    width: 70vw;
}
.promptDisplay {
    background-color: #3f5e63;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
    -9px -9px 16px rgba(221, 221, 232, 0.3);
    border: black;
    margin-top: 0;
    padding-top: 0;
    width: 40vw;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.7em;
    padding: 1em;
}

.promptHeading {
    background-color: #3f5e63;
    color: #c9d1d5;
    margin: 0.3em;
}
.promptResult {
    background-color: #000000;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25), 
        -30px -30px 60px rgba(255, 255, 255, 0.3);
    color: #c9d1d5;
    font-style: bold;
    margin: 0.2em;
    padding: 0.5em;
}

.promptTitle {
    background-color: #a80500;
    color:white;
}