.favoritesButton, .promptPageButton {
    border: none;
}
.favoritesButton:active {
    box-shadow: none;
}

.favPromptButton:active {
    box-shadow: none;
}

.hidden {
    visibility: none;
}
.promptPageButton:active {
    box-shadow: none;
}

.prompt {
    background-color: #ffffff;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
    width: 6em;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.prompt:active {
    box-shadow: none;
    border: none;
}

.prompt:hover {
    cursor:pointer;
}

.promptContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("lamp.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding-top: 5em;
    height: 39em;
    width: 32em;
    justify-content: space-evenly;
}

.promptDisplay {
    background: #090b0e;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 10em;
}

.promptHeading {
    color: #ffffff;
    font-size: larger;
    margin: 0.3em;
}
.promptResult {
    background-color: #000000;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    color: #c9d1d5;
    font-style: bold;
    margin: 1.2em;
    padding: 0.5em;
}

.promptTitle {
    color:#000000;
    font-size: large;
}
