h1 {
    align-items: center;
    background-color: #c9d1d5;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-radius: 8px;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5), 
    -9px -9px 16px rgba(221, 221, 232, 0.3);
    color: black;
    display: flex;
    font-size: 5em;
    margin-bottom: 2%;
    margin-left: 0.5em;
    margin-top: 2%;
    padding: 3%;
}

.linkContainer {
    background-color: #c9d1d5;
    display: flex;
    height: 5vh;
    flex-direction: row;
    margin-right: 2em;
    padding: 1em;
    border-radius: 8px;
    margin: 1em;
}

nav {
    align-items: center;
    background-color: #c9d1d5;
    background: linear-gradient(90deg, rgba(63,94,99,1) 0%, rgba(245,98,56,1) 19%, rgba(5,4,2,1) 100%);
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding-right: 1em;
}

